.calc {
    padding-top: var(--section-offset-y);
    overflow: hidden;
    .container {
        position: relative;
    }
    &__wrapper {
        border-radius: var(--border-radius-16);
        border: 1px solid rgba(255,255,255,0.5);
        padding: var(--padding-40);
    }
    &__header {
        font-family: var(--font-secondary);
        text-transform: uppercase;
    }
    &__config {
        margin-top: var(--content-offset-y);
        &-row {
            &:nth-child(2) {
                margin-top: var(--mt-40);
            }
        }
    }
    &__caption {
        font-family: var(--font-secondary);
        text-transform: uppercase;
    }
    &__control {
        margin-top: var(--mt-24);
        display: flex;
        align-items: center;
        gap: 8px;
    }
    &__button {
        border-radius: 50%;
        width: 52px;
        height: 52px;
        background: var(--button-color);
        color: #fff;
        border: 1px solid rgba(255,255,255,0.5);
        &:disabled {
            opacity: 0.4;
        }
    }
    &__board {
        border: 1px solid rgba(255,255,255,0.5);
        border-radius: var(--border-radius-16);
        padding: 15px 40px;
        background: linear-gradient(14deg, rgba(255, 255, 255, 0.10) 0%, rgba(255, 255, 255, 0.00) 100%);
        backdrop-filter: blur(10px);
    }

    &__desc {
        position: relative;
        left: auto;
        top: auto;
        right: auto;
        bottom: auto;
        width: 366px;
        font-size: var(--fz-14);
        line-height: var(--lh-18);
        font-weight: 400;
        margin-top: var(--content-offset-y);
        height: auto;
        .gradient-bg {
            height: auto;
            padding: 20px;
        }
    }

    &__img {
        position: absolute;
        bottom: 0px;
        right: 50px;
        width: 638px;
        height: 470px;
        background-image: url("../img/phone.png");
        background-repeat: no-repeat;
        background-size: contain;
    }

    &__message {
        position: absolute;
        margin-top: 174px;
        left: 66px;
    }

    &__salary {
        position: absolute;
        top: 270px;
        left: 140px;

        color: #4E1AE0;
        font-size: 32px;
        font-weight: 800;
    }

    &__text {
        position: absolute;
        bottom: 26px;
        left: 50%;
        transform: translateX(-50%);
        color: var(--text-color);
        text-align: center;
        font-size: var(--fz-14);
        line-height: var(--lh-18);

    }
}