.calc {
    padding-top: var(--section-offset-y);
    overflow: hidden;
    .container {
        position: relative;
    }
    &__wrapper {
        border-radius: var(--border-radius-16);
        border: 1px solid rgba(255,255,255,0.5);
        padding: var(--padding-40);
    }
    &__header {
        font-family: var(--font-secondary);
        text-transform: uppercase;
    }
    &__config {
        margin-top: var(--content-offset-y);
        &-row {
            &:nth-child(2) {
                margin-top: var(--mt-40);
            }
        }
    }
    &__caption {
        font-family: var(--font-secondary);
        text-transform: uppercase;
    }
    &__control {
        margin-top: var(--mt-24);
        display: flex;
        align-items: center;
        gap: 8px;
    }
    &__button {
        position: relative;
        border-radius: 50%;
        width: 52px;
        height: 52px;
        background: var(--button-color);
        color: #fff;
        // border: 1px solid rgba(255,255,255,0.5);
        $border: 2px;
        background: var(--button-color);
        background-clip: padding-box;
        border: solid $border transparent;
        border-radius: var(--border-radius-40);
                
        &:before {
          content: '';
          position: absolute;
          top: 0; right: 0; bottom: 0; left: 0;
          margin: -$border;
          border-radius: inherit;
          background: linear-gradient(to right, rgba(255, 255, 255, 0.39), rgba(255, 255, 255, 0.09));
          border-radius: var(--border-radius-30);
          z-index: -1;
          transition: all .3s ease;
        }
        &:hover {
            &:before {
                background-color: var(--button-color);
            }
        }
        &:disabled {
            opacity: 0.4;
        }
    }
    &__board {
        border: 2px solid rgba(255,255,255,0.5);
        border-radius: var(--border-radius-16);
        padding: 15px 40px;
        background: linear-gradient(14deg, rgba(255, 255, 255, 0.10) 0%, rgba(255, 255, 255, 0.00) 100%);
        backdrop-filter: blur(10px);
        
    }

    &__desc {
        position: relative;
        left: auto;
        top: auto;
        right: auto;
        bottom: auto;
        width: 366px;
        font-size: var(--fz-14);
        line-height: var(--lh-18);
        font-weight: 400;
        margin-top: var(--content-offset-y);
        height: auto;
        background: linear-gradient(46deg, rgba(255, 255, 255, 0.10) 0%, rgba(255, 255, 255, 0.00) 100%);
        backdrop-filter: blur(10px);
        padding: 20px;
        border-radius: var(--border-radius-16);
        border: 1px solid rgba(255,255,255,0.5);
    }

    &__img {
        position: absolute;
        bottom: 1px;
        right: 50px;
        width: 638px;
        height: 470px;
        background-image: url("../img/phone.png");
        background-repeat: no-repeat;
        background-size: contain;
    }

    &__message {
        position: absolute;
        margin-top: 174px;
        left: 66px;
        width: 506px;
        height: 163px;
        img {
            width: 100%;
            height: 100%;
            object-fit: cover;
        }
    }

    &__salary {
        position: absolute;
        top: 270px;
        left: 140px;

        color: #4E1AE0;
        font-size: 32px;
        font-weight: 800;
    }

    &__text {
        position: absolute;
        bottom: 26px;
        left: 50%;
        transform: translateX(-50%);
        color: var(--text-color);
        text-align: center;
        font-size: var(--fz-14);
        line-height: var(--lh-18);

    }
}

@media (max-width: 1199px) {
    .calc {
        &__img {
            right: 20px;
            width: 500px;
            height: 380px;
            background-size: cover;
        }
        &__message {
            margin-top: 130px;
            left: 66px;
            width: 408px;
            height: 131px;
        }
        &__salary {
            top: 202px;
            left: 130px;
        }
    }
}

@media (max-width: 991px) {
    .calc {
        &__wrapper {
            padding: 25px;
        }
        
        &__img {
            right: 0px;
            width: 375px;
            height: 275px;
            background-size: cover;
        }

        &__message {
            margin-top: 100px;
            left: 50px;
            width: 280px;
            height: 89px;
        }

        &__salary {
            top: 145px;
            left: 92px;
            font-size: 25px;
        }

        &__desc {
            width: 300px;
        }

        &__text {
            font-size: 12px;
            width: 200px;
        }
    }
}

@media (max-width: 767px) {
    .calc {
        padding-bottom: 180px;
        &__wrapper {
            border: none;
        }
        &__phone {
            height: 275px;
        }
        &__img {
            left: 50%;
            transform: translateX(-50%);
            width: 500px;
            height: 365px;
            background-size: contain;
            bottom: -95px;
        }
        &__message {
            margin-top: 132px;
            left: 76px;
            width: 335px;
            height: 107px;
        }
        &__salary {
            top: 185px;
            left: 121px;
            font-size: 30px;
        }
        &__desc {
            position: absolute;
            bottom: 0px;
            left: 50%;
            transform: translateX(-50%);
            z-index: 10;
            bottom: -168px;
            width: 480px;
        }
    }
}

@media (max-width: 575px) {
    .calc {
        padding-bottom: 45px;
        &__header {
            text-align: center;
        }
        &__config {
            display: flex;
            flex-direction: column;
            justify-content: center;
            align-items: center;
        }
        &__wrapper {
            padding: 0px;
            padding-bottom: 24px;
        }
        &__button {
            width: 48px;
            height: 48px;
        }
        &__board {
            padding: 14px 40px;
        }
        &__img {
            width: 349px;
            height: 248px;
            bottom: 30px;
            background-size: cover;
        }
        &__message {
            width: 265px;
            height: 86px;
            margin-top: 88px;
            left: 30px;
        }
        &__salary {
            font-size: 16px;
            top: 137px;
            left: 69px;
        }
        &__desc {
            width: 327px;
            font-size: 12px;
            bottom: -40px;
            .gradient-bg {
                padding: 12px;
            }
        }
        &__text {
            font-size: 7.2px;
            line-height: 8px;
            width: 155px;
            bottom: 26px;
        }
    }
}