.header {
    padding: 16px 0px;
    background: var(--main-color);
    &__logo {
        gap: 4px;
    }
    .logo__img {
        width: 46px;
        height: 46px;
    }
    .logo__text {
        font-size: 16px;
        font-family: var(--font-secondary);
        font-weight: 400;
        text-transform: uppercase;
    }
    &__list {
        list-style: none;
        gap: 16px;
    }
    &__item {
        .nav__link {
            color: var(--text-color);
            font-size: var(--fz-14);
            font-weight: 400;
        }
    }

    .contacts {
        gap: 8px;

        &__item {
            display: flex;
            align-items: center;
            justify-content: center;
            position: relative;
            box-sizing: border-box;
            color: #FFF;
            $border: 1px;
            background: var(--secondary-button-color);
            background-clip: padding-box;
            border: solid $border transparent;
            border-radius: var(--border-radius-30);
            
            &:before {
                content: '';
                position: absolute;
                top: 0; right: 0; bottom: 0; left: 0;
                z-index: 0;
                margin: -$border;
                border-radius: inherit;
                background: linear-gradient(to right, rgba(255, 255, 255, 0.39), rgba(255, 255, 255, 0.09));
                border-radius: var(--border-radius-30);
              }

              span {
                position: relative;
                display: flex;
                align-items: center;
                justify-content: center;
                background: var(--secondary-button-color);
                z-index: 1;
                padding: 18px 25px;
                border-radius: var(--border-radius-30);
                line-height: 14px;

              }

            &-circle {
                border-radius: 50%;
                span {
                    padding: 15px;
                    border-radius: 50%;
                    svg {
                        width: 20px;
                        height: 20px;
                    }
                }
            }

         
        }
    }

    .burger {
        position: absolute;
        top: 0px;
        right: 0px;
        width: 48px;
        height: 48px;
        display: flex;
        justify-content: center;
        align-items: center;
        flex-direction: column;
        gap: 4px;
        $border: 1px;
        background: var(--secondary-button-color);
        background-clip: padding-box;
        border: solid $border transparent;
        border-radius: 50%;
        &:before {
            content: '';
            position: absolute;
            top: 0; right: 0; bottom: 0; left: 0;
            margin: -$border;
            border-radius: inherit;
            background: linear-gradient(to right, rgba(255, 255, 255, 0.39), rgba(255, 255, 255, 0.09));
            border-radius: var(--border-radius-30);
            z-index: -1;
        }
        span {
            display: block;
            height: 2px;
            width: 18px;
            border-radius: 16px;
            background-color: var(--text-color);
            transition: all .3s ease;
        }
        &.active {
            span {
                &:nth-child(1) {
                    transform: rotate(45deg) translate(4px, 4px);
                }
                &:nth-child(2) {
                    opacity: 0;
                }
                &:nth-child(3) {
                    transform: rotate(-45deg) translate(4px, -5px);
                }
            }
        }
    }

}


@media (max-width: 1199px) {
}

@media (max-width: 991px) {
    .header {
        position: relative;
        z-index: 2;
        .container {
            position: relative;
        }
        &__nav {
            margin-top: 16px;
        }
        .contacts {
            position: absolute;
            top: 0px;
            right: 60px;
            &.active {
                position: static;
                margin-top: 16px;
            }
            &__item {
                &-circle {
                    span {
                        padding: 14px;
                    }
                }
            }
        }
        
    }
}

@media (max-width: 575px) {
    .header {
        .contacts {
            right: auto;
            left: 60px;
        }
        .burger {
            right: 10.5px;
        }
    }
}