.header {
    padding: 16px;
    background-color: var(--main-color);
    &__logo {
        gap: 4px;
    }
    .logo__img {
        width: 46px;
        height: 46px;
    }
    .logo__text {
        font-size: 16px;
        font-family: var(--font-secondary);
        font-weight: 400;
        text-transform: uppercase;
    }
    &__list {
        list-style: none;
        gap: 16px;
    }
    &__item {
        .nav__link {
            color: var(--text-color);
            font-size: var(--fz-14);
            font-weight: 400;
        }
    }

    .contacts {
        gap: 8px;
        &__item {
            display: flex;
            align-items: center;
            justify-content: center;
            width: fit-content;
            background-color: var(--secondary-button-color);
            padding: 18px 25px;
            border-radius: 30px;
            color: var(--text-color);
            &-circle {
                border-radius: 50%;
                padding: 14px;
            }
            svg {
                width: 20px;
                height: 20px;
            }
        }
    }

    .burger {
        position: absolute;
        top: 0px;
        right: 0px;
        width: 48px;
        height: 48px;
        border-radius: 50%;
        background-color: var(--secondary-button-color);
        display: flex;
        justify-content: center;
        align-items: center;
        flex-direction: column;
        gap: 6px;
        span {
            display: block;
            height: 2px;
            width: 18px;
            border-radius: 16px;
            background-color: var(--text-color);
        }
    }

}


@media (max-width: 1199px) {
}

@media (max-width: 991px) {
    .header {
        position: relative;
        z-index: 2;
        .container {
            position: relative;
        }
        &__nav {
            margin-top: 16px;
        }
        .contacts {
            position: absolute;
            top: 0px;
            right: 60px;
            &.active {
                position: static;
                margin-top: 16px;
            }
        }
        
    }
}

@media (max-width: 575px) {

}