.intro {
    padding-top: 170px;
    padding-bottom: 215px;
    overflow: hidden;
    position: absolute;
    width: 100%;
    top: 78px;
    .container {
        position: relative;
    }
    &__img {
        position: absolute;
        top: -170px;
        right: -35px;
        background-image: url("../img/woman.png");
        background-repeat: no-repeat;
        width: 1085px;
        height: 870px;
        background-position: center;
        background-size: contain;
        z-index: -1;
    }
    &__header {
        color: var(--header-color);
        font-family: var(--font-secondary);
        font-weight: 400;
        text-transform: uppercase;
        max-width: 521px;
    }
    &__subheader {
        color: #fff;
        max-width: 380px;
        margin-top: 24px;
        font-weight: 400;
    }
    &__button {
        margin-top: var(--content-offset-y);
    }

    &__desc {
        right: 115px;
        bottom: -120px;
        font-size: 14px;
        font-weight: 400;
        line-height: 18px;
    }

}

@media (max-width: 1199px) {
    .intro {
        &__img {
            right: -180px;
        }
    }
}



@media (max-width: 991px) {
    .intro {
        padding-top: 60px;
        &__img {
            top: -50px;
            width: 873px;
            height: 800px;
        }
        &__desc {
            right: 43px;
            bottom: -170px;
        }
    }
}

@media (max-width: 767px) {
    .intro {
        &__img {
            right: -304px;
        }
    }
}

@media (max-width: 575px) {
    .intro {
        padding-top: 40px;
        padding-bottom: 0px;
        &__subheader {
            margin-top: 12px;
        }
        &__button {
            margin-top: 338px;
        }
        &__img {
            width: 539px;
            height: 425px;
            right: auto;
            top: 80px;
            left: 50%;
            transform: translateX(-50%);
        
        }
        &__desc {
            font-size: 12px;
            line-height: 14px;
            right: 14px;
            bottom: 130px;
        }
    }
}
