.intro {
    padding-top: 170px;
    padding-bottom: 215px;
    .container {
        position: relative;
    }
    &__header {
        color: var(--header-color);
        font-family: var(--font-secondary);
        font-weight: 400;
        text-transform: uppercase;
        max-width: 521px;
    }
    &__subheader {
        color: #fff;
        max-width: 380px;
        margin-top: 24px;
        font-weight: 400;
    }
    &__button {
        margin-top: var(--content-offset-y);
    }
    &__desc {
        position: absolute;
        right: 70px;
        bottom: -60px;
        padding: var(--padding-20);
        max-width: 201px;
        border: 1px solid #fff;
        border-radius: var(--border-radius-16);
        
        background: linear-gradient(42deg, rgba(255, 255, 255, 0.10) 0%, rgba(255, 255, 255, 0.00) 100%);
        backdrop-filter: blur(10px);
    }
}