.work {
    padding-top: var(--section-offset-y);
    overflow: hidden;
    &__header {
        font-family: var(--font-secondary);
        text-transform: uppercase;
        max-width: 503px;
    }
    &__block {
        margin-top: var(--mt-40);
    }
    &__top {
        display: flex;
        flex-direction: column;
        gap: 15px;
    }
    &__input-label {
        position: relative;
        padding: 15px 20px;
        max-width: 491px;
        background: var(--secondary-button-color);
        $border: 2px;
        background-clip: padding-box;
        border: solid $border transparent;
        border-radius: var(--border-radius-16);
      
        transition: all .3s ease;
                
        &:before {
          content: '';
          position: absolute;
          top: 0; right: 0; bottom: 0; left: 0;
          margin: -$border;
          border-radius: inherit;
          background: linear-gradient(to right, rgba(255, 255, 255, 0.39), rgba(255, 255, 255, 0.09));
          border-radius: var(--border-radius-16);
          z-index: -1;
          transition: all .3s ease;
        }

    }
    &__input {
        background-color: transparent;
        font-size: var(--fz-18);
        line-height: var(--lh-24);
        color: var(--text-color);
        font-weight: 400;
        font-family: var(--font-main);
        width: 100%;
        border: none;
        outline: none;
        &::placeholder {
            font-size: var(--fz-18);
            line-height: var(--lh-24);
            color: var(--text-color);
            font-weight: 400;
            font-family: var(--font-main);
        }
    }

    &__button-file {
        position: relative;
        border-radius: var(--border-radius-30);
        background-color: var(--secondary-button-color);
        cursor: pointer;  
    }

    &__file-wrapper {
        display: flex;
        align-items: center;
        gap: 0px 20px;
        margin-top: var(--mt-16);

    }

    &__tip {
        font-size: 12px;
        color: var(--subheader-color);
        line-height: normal;
    }

    &__policy {
        font-size: 12px;
        color: var(--subheader-color);
        margin-top: var(--mt-16);
        max-width: 491px;
        a {
            font-size: 12px;
            color: var(--subheader-color);
            text-decoration: underline;
            display: inline-block;
        }
    }

    &__button {
        position: relative;
        margin-top: var(--content-offset-y);
        cursor: pointer;
        $border: 2px;
        background: var(--button-color);
        background-clip: padding-box;
        border: solid $border transparent;
        border-radius: var(--border-radius-40);
        transition: all .3s ease;
          
        &:before {
          content: '';
          position: absolute;
          top: 0; right: 0; bottom: 0; left: 0;
          margin: -$border;
          border-radius: inherit;
          background: linear-gradient(to right, rgba(255, 255, 255, 0.39), rgba(255, 255, 255, 0.09));
          border-radius: var(--border-radius-30);
          z-index: -1;
          transition: all .3s ease;
        }

        input {
            display: none;
        }
    }

    &__img-wrapper {
        position: relative;
    }

    &__img {
        position: absolute;
        top: -200px;
        left: -125px;
        width: 810px;
        height: 875px;
        background-image: url('../img/work-woman.png');
        background-repeat: no-repeat;
        background-size: cover;
        background-position: center center;
        z-index: -1;
    }

    #work-submit-button {
        display: none;
    }
    
}



@media (max-width: 1199px) {
    .work {
        &__img {
            top: -145px;
        }
    }
}

@media (max-width: 991px) {
    .work {
        &__img {
            top: -51px;
            left: -125px;
            width: 752px;
            height: 700px;
        }
    }
}


@media (max-width: 767px) {
    .work {

        &__img {
            top: auto;
            height: 580px;
            left: -17px;
            width: 650px;
            &-wrapper {
                height: 480px;
            }
        }
    }
}

@media (max-width: 575px) {
    .work {
        &__img {
            left: 50%;
            transform: translateX(-50%);
            top: auto;
            height: 410px;
            width: 450px;
            &-wrapper {
                height: 430px;
            }
        }

        &__top {
            gap: 8px;
        }
        &__file-wrapper {
            margin-top: 0px;
        }
    }
}