@import "./fonts";

:root {
    --main-color: #09051C;
    --button-color: #4E1AE0;
    --secondary-button-color: rgba(78, 26, 224, 0.1);
    --text-color: #fff;
    --header-color: #E8E8E8;
    --subheader-color: #CBCBCB;
    --section-offset-y: 200px;
    --content-offset-y: 60px;
    --item-offset-y: 16px;
    --item-border-radius: 16px;
    --fz-14: 14px;
    --fz-18: 18px;
    --fz-28: 28px;
    --fz-50: 50px;
    --font-main: "Manrope";
    --font-secondary: "ProstoOne"
}

body {
  font-size: 16px;
  background: var(--main-color);
}

*, *::before, *::after {
    box-sizing: border-box;
    margin: 0;
    padding: 0;
    font-family: var(--font-main);
    font-size: var(--fz-14);
    font-weight: 400;
    word-wrap: break-word;
    color: var(--text-color);
  }
  
  img {
    display: block;
  }
  
  a {
    text-decoration: none;
    display: block;
  }
  
  button {
    border: none;
    background-color: transparent;
  }
  
  h1, h2, h3, h4, h5, h6, p {
    margin: 0;
    padding: 0;
  }
  
  ul, li {
    padding: 0;
    margin: 0;
  }
  
  input::-moz-placeholder {
    box-sizing: border-box;
    font-family: var(--font-main);
  }
  
  input, input::placeholder {
    box-sizing: border-box;
    font-family: var(--font-main);
  }
  

.wrapper {
    display: -webkit-flex;
    display: flex;
    flex-direction: column;
    min-height: 100vh; /* высота веб-страницы больше или равна высоте окна браузера */
    margin: 0;
}

.content {
    flex: 1; /* если содержимое body меньше высоты окна, то section будет растянут до нужной величины */
    // white-space: pre-line;
    -ms-flex-preferred-size: auto;
}


//my styles

@import "./components/header";

.overlay {
  position: absolute;
  top: -100%;
  width: 100%;
  height: 100vh;
  opacity: 0;
  transition: all 0.3s ease;
  background-color: var(--button-color);
  &.active {
    top: 0px;
    left: 0px;
    opacity: 0.1;
    z-index: 1;
  }

}