@import "./fonts";

:root {
    --main-color: #09051C;
    --button-color: #4E1AE0;
    --secondary-button-color: #160c35;
    --text-color: #fff;
    --header-color: #E8E8E8;
    --subheader-color: #CBCBCB;
    --section-offset-y: 200px;
    --content-offset-y: 60px;
    --item-offset-y: 16px;
    --fz-14: 14px;
    --fz-18: 18px;
    --fz-28: 28px;
    --fz-50: 50px;
    --lh-18: 18px;
    --lh-24: 24px;
    --font-main: "Manrope";
    --font-secondary: "ProstoOne";
    --button-padding-y: 18px;
    --button-padding-x: 25px;
    --border-radius-16: 16px;
    --border-radius-30: 30px;
    --border-radius-40: 40px;
    --padding-20: 20px;
}

body {
  font-size: 16px;
  background: var(--main-color);
}

*, *::before, *::after {
    box-sizing: border-box;
    margin: 0;
    padding: 0;
    font-family: var(--font-main);
    font-size: var(--fz-14);
    font-weight: 400;
    word-wrap: break-word;
    color: var(--text-color);
  }
  
  img {
    display: block;
  }
  
  a {
    text-decoration: none;
    display: block;
  }
  
  button {
    border: none;
    background-color: transparent;
  }
  
  h1, h2, h3, h4, h5, h6, p {
    margin: 0;
    padding: 0;
  }
  
  ul, li {
    padding: 0;
    margin: 0;
  }
  
  input::-moz-placeholder {
    box-sizing: border-box;
    font-family: var(--font-main);
  }
  
  input, input::placeholder {
    box-sizing: border-box;
    font-family: var(--font-main);
  }
  

.wrapper {
    display: -webkit-flex;
    display: flex;
    flex-direction: column;
    min-height: 100vh; /* высота веб-страницы больше или равна высоте окна браузера */
    margin: 0;
}

.content {
    flex: 1; /* если содержимое body меньше высоты окна, то section будет растянут до нужной величины */
    // white-space: pre-line;
    -ms-flex-preferred-size: auto;
}


//my styles

.overlay {
  position: absolute;
  top: -100%;
  width: 100%;
  height: 100vh;
  opacity: 0;
  transition: all 0.3s ease;
  background-color: var(--button-color);
  &.active {
    top: 0px;
    left: 0px;
    opacity: 0.1;
    z-index: 1;
  }

}

.text {
  font-size: var(--fz-14);
  font-weight: 400;
  line-height: var(--lh-18);

  &__h1 {
    font-size: var(--fz-50);
  }
  &__h2 {
    font-size: var(--fz-28);
  }
  &__subheader {
    font-size: var(--fz-18);
  }
}


@import "./components/header";
@import "./components/intro";

.button {
  position: relative;
  font-family: var(--font-main);
  font-size: var(--fz-14);
  font-weight: 400;
  line-height: var(--lh-18);
  padding: var(--button-padding-y) var(--button-padding-x);
  background-color: var(--button-color);
  color: var(--text-color);
  width: fit-content;
  $border: 1px;
  background: var(--button-color);
  background-clip: padding-box;
  border: solid $border transparent;
  border-radius: var(--border-radius-40);
  text-align: center;
          
  &:before {
    content: '';
    position: absolute;
    top: 0; right: 0; bottom: 0; left: 0;
    margin: -$border;
    border-radius: inherit;
    background: linear-gradient(to right, rgba(255, 255, 255, 0.39), rgba(255, 255, 255, 0.09));
    border-radius: var(--border-radius-30);
    z-index: -1;
  }

  &:hover {
    color: #fff;
  }
}
    
$width: 201px;
$height: 94px;

.gradient-block {
  position: absolute;
  width:$width;
  height:$height;

  .gradient-bg {
    position: relative;
    display: block;
    width: 100%;
    height: 100%;
    border-radius: 16px;
    background: linear-gradient(125deg, rgba(255, 255, 255, 0.001), rgba(9, 5, 28, 0.6));
    backdrop-filter: blur(10px);
    z-index: 0;
    padding: 14px;
    display: flex;
    align-items: center;
    justify-content: center;
    color: #fff;
  }

  .gradient-border {
    z-index: -1;
    position: absolute;
    $size: 1px;
    top: -$size;
    left: -$size;
    right: -$size;
    bottom: -$size;
    border-radius: 16px;
    background: linear-gradient(-45deg, rgba(white, .1), rgba(white, .3));
    &:after {
      content: '';
      position: absolute;
      top: 0;
      left: 0;
      right: 0;
      bottom: 0;
      border-radius: 16px;
    }
    &:after{
      background: #1E293B;
      margin: $size;
      z-index: -1;
    }
  }
}


@media (max-width: 575px) {
    :root {
      // --main-color: #09051C;
      // --button-color: #4E1AE0;
      // --secondary-button-color: #160c35;
      // --text-color: #fff;
      // --header-color: #E8E8E8;
      // --subheader-color: #CBCBCB;
      // --section-offset-y: 200px;
      // --content-offset-y: 60px;
      // --item-offset-y: 16px;
      // --fz-14: 14px;
      --fz-18: 14px;
      // --fz-28: 28px;
      --fz-50: 30px;
      // --lh-18: 18px;
      // --lh-24: 24px;
      // --font-main: "Manrope";
      // --font-secondary: "ProstoOne";
      --button-padding-y: 16px;
      // --button-padding-x: 25px;
      // --border-radius-16: 16px;
      // --border-radius-30: 30px;
      // --border-radius-40: 40px;
      --padding-20: 12px;
  }

  .button {
    width: 100%;
  }

  .gradient-block {
    position: absolute;
    width: 178px;
    height: 72px;
    .gradient-bg {
      padding: 12px;
    }
  }
}
